section {
  margin: 2rem 0;
}

section h1, section h3 {
  background-color: #3ca7e8;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.sectionContent {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 1rem;
}

h1 {
  font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 1px 1px 1px #333;
  font-weight: 600;
}

h1, h3, li {
  margin-bottom: 0;
}

h1 a {
  color: #ccc;
  text-decoration: none;
  font-weight: lighter;
}

.logo {
  float: right;
  max-width: 17rem;
  shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  position: relative;
  right: -1.5rem;
}

input[type="file"] {
  display: none;
}

.buttonInfo {
  margin-left: 3rem;
  color: #666;
}

.modeButtons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.modeButtons button {
  font-size: 1.5em;
  flex-grow: 1;
  margin: 2px;
}

.characterSelectors button {
	padding-left: 13px;
	padding-right: 40px;
  
}
.characterSelectors button::after {
	content: '▾';
  right: 2px;
  top: 2px;
	position: absolute;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 1px #333;
  background-color: #3ca7e8;
  border-radius: 0 4px 4px 0;
  width: 30px;
}

.modeButtons :not(.modeSelected) {
  color: #888;
}

.modeSelected, .modeSelected:focus, .modeSelected:hover {
  background-color: #3ca7e8;
  border-color: #3ca7e8;
  color: white;
  text-shadow: 1px 1px 1px #333;
}

.seedContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.seedContainer * {
  margin-bottom: 0;
}

.seedContainer p {
  flex-grow: 1;
  margin-left: 3rem;
}

.flagContainer {
  background-color: rgba(144, 144, 160, 0.3);
  margin: 0.3em 0;
  padding: 0 0 0.3em 0;
  border-radius: 20px;
}

.flagContainer label {
  margin: 15px;
  font-size: 1.4em;
  display: inline;
}

.flagContainer p {
  margin: 1rem;
}

.flagContainer input {
  margin-right: 0.5rem;
}

.flagLabel {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  min-width: 1.5em;
  background-color: lightgreen;
  border-top-left-radius: 20px;
}

.unsafe {
  color: red;
}

.flagSummary {
  font-style: italic;
  color: #444;
}

.loading {
  position: relative;
  color: #ddd;
}

.loading:after {
  content: " ";
  position: absolute;
  left: calc(50% - 1.75rem);
  top: 0;
  width: 3.5rem;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #33C3F0 transparent #33C3F0 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-primary:disabled {
  opacity: 0.5;
}

.buttonInfoError {
  color: red;
  font-weight: bold;
}
